/*
* Copyright 2013 Tak Yeon Lee
* Copyright 2020 Gregory Kramida
* */

.label,
.badge {
	-webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 2px 4px;
  margin:1px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.naming-convention-problem {
	background-color: #cf821f;
}

.naming-non-dictionary-word-problem {
	background-color: #9e9711;
}

.naming-single-letter-word-problem {
	background-color: #3f7f7f;
}

.naming-compound-problem {
	background-color: #e35d10;
}

.inconsistent-brace-style-problem {
	background-color: #0e616f;
}

.indentation-brace-style-problem {
	background-color: #0c6045;
}

.line-brace-style-problem {
	background-color: #0e9792;
}

.missing-brace-style-problem {
	background-color: #0e7797;
}

.unused-variable-problem {
	background-color: #802400;
}

.unused-method-problem {
	background-color: #5c4303;
}

.unused-type-problem {
	background-color: #994500;
}

.possibly-ignored-method-call {
	background-color: #77929c;
}

.untested-method-problem {
	background-color: #b16238;
}

.disallowed-loop-problem {
	background-color: #7cc208;
}

.line-length-exceeded-problem{
	background-color: #7c7cd2;
}

.checked-file-link{
	color: #2e6f05;
}

.ui-panel h3 {
	background-color:rgba(0,0,0,0.5);
	padding:3px;
}
.ui-panel h4 {
	background-color:rgba(0,0,0,0.4);
	padding:3px;
}
.ui-panel p {
	margin:3px;
}

.ui-panel-container {
    position: absolute;
    padding-left: 220px;
    width: 450px;
    right: 0px;
    top:0px;
    overflow-y: auto;
	overflow-x: visible;
    height:100%;
    pointer-events: none;
	/*IE/Edge/Firefox -- hide scrollbar*/
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.ui-panel-container::-webkit-scrollbar{
	display: none;
}


.ui-panel {
	z-index:10;
	opacity:1.0;
	overflow:visible;
	padding:5px;
	word-wrap:break-word;
	width:100%;
	background-color:rgba(0,0,0,0.2);
    pointer-events: all;
}

.msg {
	position:absolute;
	z-index:5000;
	display:block;
	top:10px;
	left:10px;
	border-radius:4px;
	background-color: rgba(255,255,255,0.7);
	border: 1px solid white;
	font-size: 12px;
	font-weight: normal;
	color:black;
}

.tip {
	font-size:10px;
	margin-right:1px;
	color:black;
	cursor:pointer;
	border-radius:2px;
    z-index: 5;
}


.has-tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip {
    visibility: hidden;
    /*min-width: 200px;*/
	max-width: 350px;
    white-space: normal;
    height: auto;
	background-color: #555;
	color: #fff;
	padding: 5px 6px;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	z-index: 11;
	bottom: 125%;
	left: 50%;
	margin-left: -200px;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.has-tooltip:hover .tooltip {
	visibility: visible;
    opacity: 1;
}

.comment {
	font-size:10px;
	color:black;
	border-radius:5px;
}

.code-feed-arrow {
	pointer-events: none;
	position: absolute;
	top: 52px;
	left: 0px;
	font-size: medium;
	overflow: hidden;
	color: rgba(107,65,16,0.7);
}

.line-length-margin {
	background-color: #2162cc;
	width: 2px;
	opacity: 0.5;
	position: absolute;
	overflow: visible
}

.comment-text{
	color: #6f6e6e;
}

a:visited {
	color:#666 !important ;
}
